
.DS_Store
nbproject/private/private.xml
/bin/
/build/
nbproject/private/private.properties
nbproject/private/private.properties
nbproject/private/private.properties
src/project_poo_ads20181/tela/TLAutor.form
src/project_poo_ads20181/fachada/FachadaAutor.java
src/project_poo_ads20181/fachada/FachadaAutor.java
